# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.mo
__pycache__/
media/
staticfiles/
static/
.DS_Store

# Django migrations (optional: include if you want to ignore migrations)
# src/**/migrations/*.py
# !src/**/migrations/__init__.py

# Pytest
.cache/
.pytest_cache/

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Poetry / UV PM
uv.lock
.poetry/
poetry.lock

# Coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code settings
.vscode/

# Other
*.swp
*~
